
linkedlist_quanly/.vs/linkedlist_quanly/FileContentIndex/340343ee-32e3-4cb4-9b0c-ed0801fb2623.vsidx
linkedlist_quanly/.vs/linkedlist_quanly/FileContentIndex/d6a2b073-ec56-4290-80fd-fd3b6d9504d9.vsidx
*.vsidx
*.vsidx
